/* gallery.css (Task 6) */

.gallery img {
    width: 180px;
    height: 150px;
    object-fit: cover;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid #ddd;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}
